@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
}
label{color: white !important;}
.react-multi-carousel-list{position: unset !important;}

.slider-track li{display: flex;justify-content: center!important;}
label{color: white;}

h1,h2,h3,.cursivet{
    font-family: cursive;
}

.banner h1 {
    /* position: absolute; */
    font-family: sans-serif;
    font-size: 56px;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 8px rgb(206, 206, 206); */
    /* animation: color-cycle 5s infinite ease-in-out; */
    text-transform: uppercase;
    margin-top: -14px;
    text-align: center;
    width: 90%;
    line-height: 1.2em;
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
/* DEMO-SPECIFIC STYLES */
.typewriter{
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    /* white-space: nowrap; */
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  /* .slider-list{max-width: 100%!important;} */
  @media (max-width: 768px) {
    .grid_t {
      display: block;
    }
  }
  @media (max-width: 480px) {
    .grid_t {
      width: 80%;
    }
  }
  
.css-1elwnq4-MuiPaper-root-MuiAccordion-root{color: white!important;background-color:black!important}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:not(:last-child) { border-bottom:2px solid #fff!important; }
.css-i4bv87-MuiSvgIcon-root{color: white !important;fill: #fff!important;}
html{
scroll-snap-type: y mandatory;
scroll-padding-top: 10vh!important;
scroll-behavior: smooth;
}
.slider-container_t{
  width:90vw;
  display: flex;
  justify-content: center;
}
.app{
  overflow-x: hidden!important;
}
