@tailwind base;
@tailwind components;
@tailwind utilities;

.root{
color:#E7D8C9;
color:#C3B5A5;
color:#F2D0A7;
color:#F7E7C8;
color:#B6D7A8;
color:#BDD2E8;
color:#A2D2FF;
color:#FFC4E1;
color:#E2D2C3;
color:#E8D4C9;


color:#FFE5D9;
color:#F9D9C9;
color:#E8C6B7;
color:#F1E1D9;
color:#C6D8D3;

color:#F5D5CB;
color:#BDD5D0;
color:#FFE9C9;
color:#C9D7BE;
color:#F5E5C0;

color:#C5B2A5;
color:#B6AFA3;
color:#F1C8A4;
color:#E7D6C1;
color:#B5BFA1;
}
