@tailwind base;
@tailwind components;
@tailwind utilities;


body{cursor: none!important;}
@media(max-width:978px){
  .cursor{display: none!important;}
}
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cursor-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    animation: pulse 1.2s ease-in-out infinite;
  }
  /* Cursor animation */
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 0.5;
      background-color: red;
    }
    100% {
      transform: scale(2);
      background-color: greenyellow;
      opacity: 0;
    }
  }

/* Scrollbar Animation */
/* Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.slide{display:flex;justify-content: center;}